<!-- TA Component -->
<div class="my-3">
	<app-ta></app-ta>
</div>

<!-- release navigation buttons -->
<div class="btn-toolbar mx-auto my-3" style="width: 200px;">
	<div class="btn-group">
	<button (click)="previousRelease()" [disabled]="release == 1" class="btn btn-primary" > Previous Clue </button>
	<button (click)="nextRelease()" [disabled]="mysteryService.getRelease() == release" class="btn btn-primary" > Next Clue </button>
	</div>
</div>



<!-- ArtifactView Component -->

<div>
	<app-artifact-view [release]="release" ></app-artifact-view>
</div>

<!-- Comment Component -->
<div>
	<app-comment [release]="release" ></app-comment>
</div>