<ng-container *ngIf="this.is_ta.is_ta; then TA; else Student">
</ng-container>

<!-- TA Component -->
<ng-template #TA>
		<app-ta></app-ta>
</ng-template>

<ng-template #Student>
	<!-- release navigation buttons -->
	<div class="btn-toolbar mx-auto my-3" style="width: 200px;">
		<div class="btn-group">
		<button (click)="previousRelease()" [disabled]="release == 1" class="btn btn-sm btn-dark" > Previous Clue </button>
		<button (click)="nextRelease()" [disabled]="mysteryService.getRelease() == release" class="btn btn-sm btn-dark" > Next Clue </button>
		</div>
	</div>

	<!-- ArtifactView Component -->

	<div>
		<app-artifact-view [release]="release" ></app-artifact-view>
	</div>

	<!-- Comment Component -->
	<div>
		<app-comment [release]="release" ></app-comment>
	</div>

	<!-- View grade component -->
	<div>
		<app-result-view></app-result-view>
	</div>

</ng-template>
