.alert {
	overflow: auto;
	line-height: 32px;
}
.bg-ta{
	background-color: #3b3b3b ;
}
.bg-reply{
	background-color: #999999;
}
#circle {
    background: #292929;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.comment-display h6 {
    display: inline;
}
.comment-display span {
    float: right;
    color: darkgray;
    font-size: small;
}

.row.rounded.shadow.m-1.p-2 span {
    display:block;
    width:650px;
    word-wrap:break-word;
}

.lead.rounded.bg-reply.shadow.text-light.mr-2.p-2 span {
    display:block;
    width:650px;
    word-wrap:break-word;
}
