alias docker='sudo docker'
alias compose='sudo docker-compose'
alias cd-logins='cd ~/virtual-mystery/src/data/private'
alias clone='cd ; git clone git@github.com:utmandrew/virtual-mystery.git'
alias cd-angular='cd ~/virtual-mystery/src/vm-angular'
alias cd-django='cd ~/virtual-mystery/src/vm-django'
alias cd-src='cd ~/virtual-mystery/src'
alias build='cd-angular ; sudo npm install ; ng build --prod'
alias remove='sudo rm -rf virtual-mystery'
alias images='sudo bash docker/scripts/images.sh'
alias reset-app='cd ; remove ; clone ; build'
alias reset-full='cd-src ; compose down ; images ; reset-app ; cd-src ; compose up --build'
alias django='docker exec -it src_django_1 bash'
