<div class="container" *ngFor="let release of releases">
	<!-- List of releases -->
	<div class="alert alert-success p-2 m-1" *ngIf="release.commented" >
		<p class="alert-heading font-weight-bold" >Clue {{ release.number }}</p>
		<!-- View Release Button -->
		<span> 
			<button type="button" class="btn btn-sm float-right" (click)="selectedRelease(release.number)" > View </button> 
		</span>
	</div>
	
	<div class="alert alert-primary p-2 m-1" *ngIf="!release.commented" >
		<p class="alert-heading font-weight-bold" >Clue {{ release.number }}</p>
		<!-- View Release Button -->
		<span class="alert-align"> 
			<button type="button" class="btn btn-sm float-right" (click)="selectedRelease(release.number)" > View </button> 
		</span>
	</div>
	
</div>