<!-- Release List Error Message -->
<p class="alert alert-warning text-center" *ngIf="error"> <strong>An error occurred, please try again.</strong> </p>

<!-- Instructions and rules For students -->
<div class="container">
	<h4>Instructions and Guide lines</h4>
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Communicate in a friendly and respectful manner. </h5>
	      <small>(1)</small>
	    </div>
	    <p class="mb-1">It’s OK to share your opinions and to disagree, we simply ask that you do so without attacking another member in the process.
				If you feel you have been personally attacked in our community,
				don’t respond with an attack of your own. Instead, e-mail the Moderator to alert us of the problem</p>
	  </a>
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Keep it clean</h5>
	      <small class="text-muted">(2)</small>
	    </div>
	    <p class="mb-1">Profanity and obscenities will not be tolerated.
				 This includes masked profanity where letters are substituted with special characters.</p>
	  </a>
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Don’t share personally identifiable information</h5>
	      <small class="text-muted">(3)</small>
	    </div>
	    <p class="mb-1">To protect your privacy and to ensure your online safety,
				 we ask that you do not post personally identifiable information.
				  This includes phone numbers, address, instant messaging screen names, passwords
				 or web address leading to such information.
				 Further, we ask that you do not share someone else’s personally identifiable information.</p>
	  </a>
	</div>
</div>

<!-- List of releases -->
<div class="container" *ngFor="let release of releases">
	<!-- Commented Release -->
	<div class="alert alert-success p-2 m-1" *ngIf="release.commented" >
		<p class="alert-heading font-weight-bold" >Clue {{ release.number }} (commented)</p>

		<!-- View Release Button -->
		<span>
			<button type="button" class="btn btn-sm float-right" (click)="selectedRelease(release.number)" > View </button>
		</span>
	</div>

	<!-- Uncommented Release -->
	<div class="alert alert-danger p-2 m-1" *ngIf="!release.commented" >
		<p class="alert-heading font-weight-bold" >Clue {{ release.number }}</p>
		<!-- View Release Button -->
		<span class="alert-align">
			<button type="button" class="btn btn-sm float-right" (click)="selectedRelease(release.number)" > View </button>
		</span>
	</div>

</div>
