
	<div class="justify-content-center align-items-center" >
		<form (ngSubmit)="f.form.valid && createComment()" #f="ngForm">
			<p class="alert alert-warning text-center" *ngIf="error"> <strong>An error occurred, please try again.</strong> </p>
			
			<div class="form-group">
				<label class="font-weight-bold" for="text">Comment:</label>
				<textarea class="form-control shadow" rows="3" name="text" [(ngModel)]="model.text" #text="ngModel"></textarea>
			</div>
			
			<div class="text-center mb-4">
				<button type="submit" class="btn shadow btn-outline-primary" >Submit</button>
			</div>
		</form>
	</div>
