<div class="card mb-3" >
    <div class="card-header">
		<h4 *ngIf="!error">Release {{release}}</h4>
		<p class="alert alert-warning text-center" *ngIf="error"> <strong>An error occurred, please try again.</strong> </p>
    </div>

    <div class="card-body">
        <img class="card-img-top img-responsive rounded mx-auto d-block mb-3" style="width:50%;" src ="{{artifactService.ASSETS_URL}}/{{release_data.mystery_hash}}/{{release_data.hash}}/image1.jpg">
    </div>
</div>  

<div class="card mb-3 ">
    <div class="card-header card-title">
        <h5>
            {{ release_data.clue }}
        </h5>
    </div>
</div>

<!--  
THE COMMENT TEMPLATE
<div class="card">
    
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control " placeholder="Your Comment">
        </div>
        <a class="btn btn-outline-danger" >Submit</a>
    </div>

</div>
-->



