<!-- 
<table  style="width:100%">
    <tr>

        <th>USER</th>
        <th> PATH</th>

    </tr>
    <tr>

      <td> {{ contacts.user }} </td>
      <td> {{ contacts.image }}</td>
    </tr>
    <tr>

        <td> {{ contacts.user }} </td>
        <td> {{ contacts.clue }}</td>
    </tr>
    <tr>
        <td> {{ contacts.user }} </td>
        <td> {{ contacts.answer }}</td>
    </tr>

</table>
-->

<div class="card mb-3" >
    <div class="card-header">

        <h4> MysteryFlutedPoint</h4>
    </div>

    <div class="card-body">
        <img class="card-img-top img-responsive rounded mx-auto d-block mb-3" style="width:50%;" src="{{contacts.image}}">

    </div>
</div>  

<div class="card mb-3 ">
    <div class="card-header card-title">
        <h5>
            What is this artifact? What do you know about when it was created?
        </h5>
    </div>
    <p class="card-text p-3">
            This is a fluted point from the Lindenmeier Site, Colorado.
        <!-- <iframe src="assets/anthro-virtual-mysteries/Archaeology-demo/MysteryFlutedPoint/Release1/clue.txt"></iframe>   -->
    </p>
</div>

<div class="card">
        
        <div class="card-body">
            <div class="input-group mb-3">
                <input type="text" class="form-control " placeholder="Your Coment">
            </div>
            <a class="btn btn-outline-danger" >Submit</a>
        </div>
    </div>




<!-- 
<div class="clueBox">
<p class="imageClue"><iframe src="assets/anthro-virtual-mysteries/Archaeology-demo/MysteryFlutedPoint/Release1/clue.txt" frameborder="0" height="400"
    width="95%"></iframe></p>
</div>

-->



<!--
<div class="clueBox">
        <p class="imageClue"><iframe src="assets/anthro-virtual-mysteries/Archaeology-demo/MysteryFlutedPoint/Release1/ans.txt" frameborder="0" height="400"
            width="95%"></iframe></p>
</div>
-->



<!-- 
    we have: assets/anthro-virtual-mysteries/Archaeology-demo/MysteryFlutedPoint/Release1/ans.txt
    shod be: assets/anthro-virtual-mysteries/Archaeology-demo/MysteryFlutedPoint/Release1/ans.txt
-->



