<div class="container">
	<div class="row h-100 justify-content-center align-items-center">
		
		<div class="card bg-light shadow-lg card-form">
			<div class="card-body">
				<form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
					<p class="alert alert-warning text-center" *ngIf="error"> <strong>Password change was unsuccessful</strong> </p>
					
					<div class="form-group">
						<label class="font-weight-bold" for="new_password"> New Password </label>
						<input type="password" class="form-control" name="new_password" placeholder="New Password" [(ngModel)]="model.new_password" #new_password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && new_password.invalid }"  minlength="8" required />
						<div *ngIf="f.submitted && new_password.invalid" class="invalid-feedback">
							<div *ngIf="new_password.errors.required">Password is required</div>
							<div *ngIf="new_password.errors.minlength">Minimum password length of 8 characters</div>
						</div>
					</div>
					<div class="form-group">
						<label class="font-weight-bold" for="confirm_password"> Confirm Password </label>
						<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirm_password.invalid }" minlength="8" required />
						<div *ngIf="f.submitted && new_password.invalid" class="invalid-feedback">
							<div *ngIf="confirm_password.errors.required">Password confirmation is required</div>
							<div *ngIf="confirm_password.errors.minlength">Minimum password length of 8 characters</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary shadow"> Submit </button>
					</div>
				</form>
			</div>
		</div>


	</div>
</div>
