<nav class="navbar navbar-expand-sm mb-3 navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand"> <font color="white">Virtual Mystery</font> </a>
		
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav *ngIf="getAuthUser()">
		<ul class="ml-auto navbar-nav" *ngIf="!verifyUserType()" >

			<li class="nav-item">
				<a class ="nav-link font-weight-bold" (click)="currentClue()">Current Clue</a>
			</li>


			<li class="nav-item">
				<a class ="nav-link font-weight-bold" routerLink="mystery/release/list">Overview</a>
			</li>


			<li class="nav-item" >
				<a class ="nav-link font-weight-bold" routerLink="grades">Grades</a>
			</li>
                                                                 
		</ul>

		<ul class="ml-auto navbar-nav" *ngIf="verifyUserType()">

			<li class="nav-item">
				<a class ="nav-link font-weight-bold" routerLink="taview">Home</a>
			</li>

			<li class="nav-item">
				<a class ="nav-link font-weight-bold" routerLink="tainstructions">Instructions</a>
			</li>

		</ul>
                                                                         
    <!-- Logout Button -->
		<div class="nav navbar-nav navbar-right" >
		  <app-logout></app-logout>
		</div>
                                      
		</div>
	</div>
</nav>

<div class="container">

		<router-outlet></router-outlet>

</div>
