

<div class="container">
	<div class="row h-100 justify-content-center align-items-center">
		
		<div class="card bg-light shadow-lg card-form">
			<div class="card-body">
				<form (ngSubmit)="f.form.valid && getToken()" #f="ngForm">
					<p class="alert alert-warning text-center" *ngIf="error"> <strong>Login was unsuccessful</strong> </p>

					<div class="form-group">
						<label class="font-weight-bold" for="username"> Username </label>
						<input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel">
					</div>
					<div class="form-group">
						<label class="font-weight-bold"> Password </label>
						<input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary shadow">LOGIN</button>
					</div>
				</form>
			</div>
		</div>


	</div>
</div>


	
