version: '3.8'

services:
  proxy:
    build:
      context: .
      dockerfile: ./docker/proxy/Dockerfile
    image: virtualmystery/vm-proxy:latest
    volumes:
      - ./data/ssl:/usr/local/apache2/ssl
    ports:
      - "80:80"
      - "443:443"

  db:
   image: postgres
   # mounts db files to local machine filesystem
   volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
   environment:
     POSTGRES_USER: "${POSTGRES_USER}"
     POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
     POSTGRES_DB: "${POSTGRES_DB}"

  django:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    image: virtualmystery/vm-django:latest
    # mounts important files to local machine filesystem
    volumes:
      - ./data/private:/opt/vm-django/system/private
      - ./data/vm-static:/opt/vm-django/static
      - ./data/vm-data:/opt/vm-django/data
      # mounts migrations files to aid in database persistence 
      - ./data/migrations/authentication/migrations:/opt/vm-django/authentication/migrations
      - ./data/migrations/comments/migrations:/opt/vm-django/comments/migrations
      - ./data/migrations/mystery/migrations:/opt/vm-django/mystery/migrations
      - ./data/migrations/system/migrations:/opt/vm-django/system/migrations
    command: ./wait-for-it.sh db:5432 -- ./start.sh
    expose:
      - "80"
    depends_on:
      - "db"
      - "proxy"
    links:
      - "db"
      - "proxy"
    env_file:
        - .env

  angular:
    build:
      context: .
      dockerfile: ./docker/angular/Dockerfile
    image: virtualmystery/vm-angular:latest
    expose:
      - "80"
    depends_on:
      - "proxy"
      - "django"
    links:
      - "proxy"
      - "django"
