.btn-rad {
    border-radius: 15px 15px 15px 15px;
    background-color:  #24405a;
    border: none;

}
.btn-rad:hover {
    background-color: rgb(13, 168, 189) ;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.alert {
	overflow: auto;
	line-height: 32px;
}
.bg-ta{
	background-color: #3b3b3b ;
}
.bg-reply{
	background-color: #999999;
}
#circle {
    background: #292929;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.comment-display-2 h6 {
    display: inline;
}
.comment-display-2 span {
    float: right;
    color: darkgray;
    font-size: small;
}

