
<div>
<!-- list of practicals in course -->

<div class="btn-group  m-1">
    <button class="btn btn-secondary btn-sm" type="button">
        {{ chosen_practical }}
    </button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <div *ngFor="let practical of practical_data">
            <button (click)="chosenPractical(practical.name)" class="dropdown-item" > {{ practical.name }}</button>
        </div>
    </div>
</div>


<!-- list of groups in chosen practical-->

<div class="btn-group  m-1">
    <button class="btn btn-secondary btn-sm" type="button">
        {{ chosen_group }}
    </button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <div *ngFor="let group of group_data">
            <button (click)="chosenGroup(group.name)" class="dropdown-item" > {{ group.name }}</button>
        </div>
    </div>
</div>


<!-- list of users in chosen group-->

<div class="btn-group m-1">
        <button class="btn btn-secondary btn-sm" type="button">
            {{ chosen_user }}
        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <div *ngFor="let user of list_users">
                <button (click)="chosenUser(user.username)" class="dropdown-item" > {{ user.username }}</button>
            </div>
        </div>
  </div>

<!-- list of users in that group -->

</div>



<div *ngIf="chosen_group != 'Choose Group'">

  <!-- release navigation buttons -->
	<div class="btn-toolbar mx-auto my-3" style="width: 200px;">
		<div class="btn-group">
		<button (click)="previousRelease()" [disabled]="curr_release == 1" class="btn btn-primary" > Previous Clue </button>
		<button (click)="nextRelease()" [disabled]="curr_release == groups_relases.length" class="btn btn-primary" > Next Clue </button>
		</div>
	</div>

  <div *ngFor="let release_data of groups_relases">
    <div *ngIf="release_data.number == curr_release" >
    <div class="card mb-3" >
        <div class="card-header">
    		<h4 *ngIf="!error">Release {{ release_data.number }}</h4>
    		<p class="alert alert-warning text-center" *ngIf="error"> <strong>An error occurred, please try again.</strong> </p>
        </div>

        <div class="card-body">
            <img class="card-img-top img-responsive rounded mx-auto d-block mb-3" style="width:50%;" src ="/assets/{{release_data.mystery_hash}}/{{release_data.hash}}/image1.jpg">
        </div>
    </div>

    <div class="card mb-3 ">
        <div class="card-header card-title">
            <h5>
                {{ release_data.clue }}
            </h5>
        </div>
    </div>
  </div>
  </div>

<!-- Top for this group -->
  <div *ngIf="groups_comments.length > 0" >
  	<div class="container m-0 p-0" *ngFor="let comment of groups_comments">

      <div *ngIf="comment.username == chosen_user || chosen_user == 'Choose User'">
        <!-- Top Level Comments -->
    		<div class="alert alert-primary p-2 m-1" >
    			<p class="alert-heading font-weight-bold" >{{ comment.username }}</p>
    			<div class="pl-4" >
    				<p>
    					{{ comment.text }}
    					<!-- Toggle Replies Button -->
    					<span class="float-right">
    					<!-- Shows replies button only if replies exist <span *ngIf="comment.reply.length" class="float-right"> -->
    						<button type="button" class="btn btn-sm" (click)="toggleReply(comment.id)" > replies </button>
    					</span>
    				</p>
    			</div>
    		</div>
    		<!-- Replies -->
    		<div *ngIf="comment.show_replies" >
    			<div class="container" *ngFor="let reply of comment.reply" >
    				<div class="alert alert-secondary p-2 m-1" >
    					<p class="alert-heading font-weight-bold" >{{ reply.username }}</p>
    					<div class="pl-4" >
    						{{ reply.text }}
    					</div>
    				</div>
    			</div>
        </div>

  		</div>
  	</div>
  </div>


</div>
